@font-face {
  font-family: 'icomoon-catcraft';
  src:  url('fonts/icomoon-catcraft.eot?dvztq9');
  src:  url('fonts/icomoon-catcraft.eot?dvztq9#iefix') format('embedded-opentype'),
    url('fonts/icomoon-catcraft.ttf?dvztq9') format('truetype'),
    url('fonts/icomoon-catcraft.woff?dvztq9') format('woff'),
    url('fonts/icomoon-catcraft.svg?dvztq9#icomoon-catcraft') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="ccicon-"], [class*=" ccicon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon-catcraft' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ccicon-deco1right:before {
  content: "\e906";
}
.ccicon-deco1left:before {
  content: "\e907";
}
.ccicon-deco2right:before {
  content: "\e908";
}
.ccicon-deco2left:before {
  content: "\e909";
}
.ccicon-catcraft:before {
  content: "\e900";
}
.ccicon-hipolink:before {
  content: "\e901";
}
.ccicon-boosty:before {
  content: "\e902";
}
.ccicon-bsky:before {
  content: "\e903";
}
.ccicon-ffxiv:before {
  content: "\e904";
}
.ccicon-heliosphere:before {
  content: "\e905";
}
hr.links {
  margin: 2.5em;
}